<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">                
                <div class="image" style="width: 75px; height: 75px; border-radius: 50%; background-image: url('{{ @BASE.'/'.@media_images }}/profile/profile3.png');background-position: center center; background-size: cover; "></div>
                <span>{{ @username }}</span>
            </li>
            <repeat group="{{ @menu_list }}" value="{{ @menu }}">                
                <check if="{{ (@menu.has_child == 1) && (@menu.mnu_parent_id == null)}}">
                    <true>
                        <li>
                            <a href="{{ @menu.links }}"><i class="{{ @menu.icons }}"></i> {{ @menu.deskripsi }}</a> 
                            <ul class="nav nav-second-level">
                                <repeat group="{{ @menu_list }}" value="{{ @submenu }}">
                                    <check if="{{ @submenu.mnu_parent_id == @menu.mnu_id }}">
                                        <li>
                                            <a href="{{ @BASE.@submenu.links }}"><i class="{{ @submenu.icons }}"></i> {{ @submenu.deskripsi }}</a> 
                                        </li>
                                    </check>
                                </repeat>
                            </ul>
                        </li>
                    </true>
                    <false>
                        <check if="{{ @menu.mnu_parent_id == null }}">
                            <li>
                                <a href="{{ @BASE.@menu.links }}"><i class="{{ @menu.icons }}"></i> {{ @menu.deskripsi }}</a> 
                            </li>
                        </check>
                    </false>
                </check>                
            </repeat>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
